.clock {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 7px solid black;

}

.hand {
    height: 2px;
    width: 40px;
    background-color: black;
    transform-origin: 0%;
    margin: 50;
    position: relative;
}

#hour {
    background-color: blue;
    position: absolute;
    width: 30px;
}

#minute {
    background-color: yellow;
    position: absolute;
    width: 35px;
}

#second {
    background-color: black;
    position: absolute;
}